.headerImage {
  background-image: url("../../assets/harvard.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  height: 60vh;
}
.container {
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.container h1,
h2 {
  font-family: "roboto", sans-serif;
  color: var(--h1h2color);
  padding-left: 5rem;
}

.container h1 {
  font-size: 4rem;
}
.container h2 {
  font-size: 2rem;
}

