.Header {
  padding-top: 20vh;
  text-align: center;
}
.Header h1 {
  color: rgb(17, 17, 73);
  font-size: 2.5rem;
  text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.445);
}
.Header strong {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
}
@media (max-width: 860px) {
  .Header h1 {
    font-size: 1.5rem;
  }
}
