.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid red;
  min-width: 10rem;
  max-width: 30rem;
  width: 60%;
  height: 5rem;
}
.container a {
  border: 1px solid blue;
  width: 1rem;
  font-size: 1rem;
}
