* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  background-color: var(--Background);
}
.Container {
  background-image: linear-gradient(
      rgba(240, 238, 255, 0.336),
      rgba(11, 71, 201, 0.507)
    ),
    url("../assets/university.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 30vh;
}
:root {
  --Background: rgb(131, 185, 255);
  --CardBackground: rgb(79, 155, 255);
  --ButtonBackgroundHover: rgb(119, 174, 247);
  --DisabledButton: rgb(49, 49, 49);
  --DisabledButtonBackground: rgb(192, 192, 192);
  --HoverButton: rgb(218, 218, 218);
  --UniversityH1: rgb(3, 0, 90);
  --Strong: rgb(0, 16, 37);
}
