* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  background-color: rgb(131, 185, 255);
}
.Container {
  background-image: linear-gradient(
      rgba(240, 238, 255, 0.336),
      rgba(11, 71, 201, 0.507)
    ),
    url("../assets/university.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 30vh;
}
